.link {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  background: none;
  color: inherit;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;

  &:global(.isDisabled) {
    cursor: default;
  }

  &:focus-visible {
    outline: 2px solid var(--themeBlue);
    outline-offset: 2px;
  }
}

.to {
  color: var(--linkColor);

  &:hover {
    color: var(--linkHoverColor);
    text-decoration: underline;
  }
}
